{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <h1>PyNoteBook</h1>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="sidebar">
        <h2>Where great ideas happen</h2>
        <div id='tags'>
            {% for tag in tags %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %} {% endif %}
            {% endfor %}
        </div>
        <!--p>There is {% total_posts %} posts so far.</p-->
        <h3>Latest Posts</h3>
        {% show_latest_posts 3 %}
        <div class="plotly-graph">
            {% autoescape off %}
            {{ plot_html|safe }}
            {% endautoescape %}
        </div>
        <div class="hn-articles">
            <h3>Latest Hacker News Articles</h3>
            <ul>
                {% for item in submission_dicts %}
                <li>
                    <a href="{{ item.hn_link }}" target="_blank">{{ item.title }}</a>
                    <p>Comments: {{ item.comments }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>

